aiohappyeyeballs==2.4.2
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
attrs==24.2.0
biscuit-python @ git+https://github.com/chain-ml/biscuit-python@2cd8292f108794ebbff35c697f889ec639b73bad
bitarray==2.9.2
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
ckzg==2.0.1
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
cytoolz==0.12.3
distro==1.9.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==2.1.0
eth-typing==5.0.0
eth-utils==5.0.0
eth_abi==5.1.0
Flask==3.0.3
frozenlist==1.4.1
gunicorn==23.0.0
h11==0.14.0
hexbytes==1.2.1
httpcore==1.0.5
httpx==0.27.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
MarkupSafe==2.1.5
multidict==6.1.0
openai==0.28.0
packaging==24.1
parsimonious==0.10.0
propcache==0.2.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
python-dotenv==1.0.1
# pyunormalize>=16.0.0  # or latest version supporting Python 3.11
# pywin32==306; platform_system=="Windows"
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
rlp==4.0.1
safe-pysha3==1.0.4
sniffio==1.3.1
theoriq @ git+https://github.com/chain-ml/theoriq-agent-sdk.git@a5dc1fabb670e06e089c7766e8c1febb83f56fce
toolz==0.12.1
tqdm==4.66.5
types-requests==2.32.0.20240914
typing_extensions==4.12.2
urllib3==2.2.3
web3==7.3.0
websockets==13.1
Werkzeug==3.0.4
yarl==1.13.1
